<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Database Test Button</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script src="static/script2.js"></script>
  </head>

  <body>

    <div>

      <button id="test" type="button">Test Me</button>

      <div id="shownames" class="names"></div>

      <br>

      <form id="getname2" method="post">
	<select class="name" name="name2">

	</select>
      </form>

      <br>
      <br>

      <div id="showstats2">
      </div>
      
      <br>
      <br>

      <form id="getmoves2" method="post">
	<select class="move2" name="move2">

	</select>
      </form>

      <br>
      <br>

      <button id="charname2">Display Name</button>
      
      <br>
      <br>

      <button id="movename2">Display Move</button>

      <br>
      <br>

      <div id="showmoves2">
      </div>

      <br>

      <form id="getname" name="name" method="post">
	<select id="list2" class="name" name="name1">

	</select>
      </form>

      <br>
      <br>
      
      <div id="showstats">
      </div>
      
      <br>
      <br>

      <form id="getmoves" method="post">
	<select class="move1" name="move1">

	</select>
      </form>

      <br>
      <br>
      
      <button id="charname">Display Name</button>

      <br>
      <br>

      <button id="movename">Display Move</button>

      <br>
      <br>

      <div id="showmoves">
      </div>
      
    </div>
    
  </body>
  
</html>
