<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Edit a Move</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/editmove.js"></script>
  </head>

  <body>

    <div>
      <form id="pickchar" method="post">

	<select class="name" name="name">

	</select>
	
      </form>

      <form id="pickmove" method="post">
	<select class="move1" name="input">
	  
	</select>
	
	<br>
	<br>
	
	<div id="forminfo">

	</div>	
      </form>

      <br>
      <br>

      <button id="charname">Get Moves</button>

      <br>
      <br>

      <button id="movename">Load Move Traits</button>

      <br>
      <br>

      <button id="submitform">Submit Form</button>
      
    </div>
      
  </body>
  
</html>
