<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Home Page</title>
  </head>

  <body>

    <form action="/DBtest">
      <input type="submit" value="Compare Characters and Moves" />
    </form>

    <br>
    <br>

    <form action="/addchar/">
      <input type="submit" value="Add Character" />
    </form>

    <br>
    <br>

    <form action="/addmove/">
      <input type="submit" value="Add Move" />
    </form>

    <br>
    <br>

    <form action="/editchar/">
      <input type="submit" value="Edit Character" />
    </form>

    <br>
    <br>

    <form action="/editmove/">
      <input type="submit" value="Edit Move" />
    </form>

    <br>
    <br>

    <form action="/testdelete/">
      <input type="submit" value="Delete Character" />
    </form>

    <br>
    <br>

    <form action="/deletemove/">
      <input type="submit" value="Delete Move" />
    </form>

    <br>
    <br>

    <form action="/chartraits/">
      <input type="submit" value="Add Character Traits" />
    </form>

    <br>
    <br>

    <form action="/delctraits/">
      <input type="submit" value="Delete Character Traits" />
    </form>

    <br>
    <br>

    <form action="/movetraits/">
      <input type="submit" value="Add Move Traits" />
    </form>

    <br>
    <br>

    <form action="/movetraits/delete">
      <input type="submit" value="Delete Move Traits" />
    </form>

    <br>
    <br>
    
  </body>

</html>
